@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header */
.header {
    background-color: #1F2937;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Hero */
.hero {
    background-color: #1F2937;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    gap: 50px;
}

.hero .subtext,
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

button {
    box-sizing: content-box;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    align-self: flex-start;
    border-radius: 4px;
    border: none;
    padding: 7px;
}

.hero .image {
    width: 300px;
    height: 200px;
    flex: none;
    background-color: #E5E7EB;
    border: 2px solid #E5E7EB;
    border-radius: 16px;
}

/* Information */
.info {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info .title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.image-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image-and-text {
    flex: none;
    max-width: 200px;
}

.image-group .image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    font-size: 12px;
    flex: none;
    border: 3px solid #3882F6;
    border-radius: 16px;
    margin-bottom: 10px;
}

.image-group .text {
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

/* Quote */
.quote {
    padding: 5% 15%;
    background-color: #E5E7EB;
}

.quote .text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    margin-bottom: 10px;
    min-width: 300px;
}

.quote .citation {
    font-size: 18px;
    color: #1F2937;
    text-align: right;
}

/* Call to action */
.cta {
    padding: 5% 10%;
    min-height: 100px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 10%;
    background-color: #3882F6;
    border-radius: 8px;
}

.cta .text {
    color: #F9FAF8;
    font-size: 18px;
}

.cta button {
    border: 1px solid #F9FAF8;
    align-self: center;
}

/* Footer */
.footer {
    background-color: #1F2937;
    padding: 20px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .text {
    font-size: 18px;
    color: #E5E7EB;
}

